.container {
    display: flex;
    height: 56px;
    justify-content: space-between;
}

.headLeft {
    display: flex;
}

.checkbox {
    width: 50px;
    height: 100%;
    padding: 16px 0 0 9px;
    margin-right: 10px;
}

.nodeId {
    padding: 0 10px;
    display: flex;
    align-items: center;
    width: 228px;
    height: 100%;
    color: rgba(0, 0, 0, 0.87);
    font-size: 14px;
    font-family: Roboto;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.17px;
    word-wrap: break-word;
    cursor: pointer;
}

.battery {
    padding: 0 10px;
    display: flex;
    align-items: center;
    width: 77px;
    height: 100%;
    color: rgba(0, 0, 0, 0.87);
    font-size: 14px;
    font-family: Roboto;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.17px;
    word-wrap: break-word;
    cursor: pointer;
}

.lastMessage {
    display: flex;
    align-items: center;
    width: auto;
    height: 100%;
    padding-right: 108px;
    color: rgba(0, 0, 0, 0.87);
    font-size: 14px;
    font-family: Roboto;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.17px;
    word-wrap: break-word
}